
$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #4a89ff,
  secondary:  #182d54,
  third:      #3766bd,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #0b1425
);

// Top Toolbar
$toolbar-md-background: color($colors, light);

// Bottom- bar
$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color-active: color($colors, third);
$tabs-md-tab-color:color($colors, third);
$tabs-md-tab-text-color: color($colors, third);

$list-md-background-color: color($colors, light);
$list-md-text-color:color($colors, third);

@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
